@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #1f1f1f;
	display: flex;
	padding-top: 5rem;
	justify-content: center;
	overflow: hidden;
	margin: 0;
}
.row {
	display: flex;
	width: 600px;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.col-header {
	width: 150px;
	box-shadow: 4px 4px 10px #c6c6c65c;
	border-radius: 20px;
	padding: 0.8rem 1rem;
	color: #fff;
}
.item {
	width: 150px;
	height: 66px;
	box-shadow: 4px 4px 10px #c6c6c6;
	border-radius: 20px;
	background: #6a5acd;
	padding: 0.8rem 1rem;
	color: #fff;
	text-align: center;
	cursor: grab;
	transition: all 0.4s ease-in-out;
}
.item:active {
	cursor: grabbing;
}
.placeholder {
	width: 150px;
	height: 66px;
}
.start {
	background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
	text-align: center;
}
.progress {
	background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
	text-align: center;
}
.done {
	background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
	text-align: center;
}
.hold{
	border: 2px solid #8a2be2;
	background-color: #695acd;
}
.hide{
	display: none;
}
.hovered{
	border-top: 66px solid #6a5acd;
	border-radius: 20px;
	box-shadow: 4px 4px 105px #695acd;
}